/* ---------- menu_icon ----------------------------------------------------------------------------------------------*/
#menu_icon_open {
    cursor: pointer;
    font-size: 1.3em;
}

#menu_icon_open:hover {
    color:#0275d8;
}

#menu_icon_close {
    cursor: pointer;
    font-size: 0.8em;
    padding-top: 15px;
}

#menu_icon_close:hover {
    color:#f1f1f1;
}

/* ---------- topnav -------------------------------------------------------------------------------------------------*/
.topnav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.topnav-right {
    display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #464646;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 1.3em;
}

/* Change the color of links on hover */
.a-topnav {
    font-weight: bold;
}

/* Add a color to the active/current link */
.active::after{
    border-bottom: 6px solid #0275d8;
    transform: translateX(0%) !important;
}

.active a {
    color: #0275d8;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    position: relative;
}

.topnav-right-div {
    position: relative;
    overflow: hidden;
}

.topnav-right-div::after {
    position: absolute;
    left: -1px;
    top: 2.5em;
    content: '';
    width: 100%;
    overflow: hidden;
    border-bottom: 6px solid #0275d8;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.topnav-right-div:hover > a{
    color: #0275d8;
}

.topnav-right-div:hover::after {
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

/* ---------- menu_icon ----------------------------------------------------------------------------------------------*/
.topnav-logo {
    font-weight: 900;
    color: #f1f1f1 !important;
    margin:0 !important;
    padding:0 !important;
    font-size: 3em !important;
}