{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'cms_form.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'session' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    {{ vld_set_messages() }}

    <div class="content-sm">

        <h1>{{ flash_values.page_title|trans }}:</h1>

        {{ flash('error')|raw }}

        <form action="{{ url_for('ses.add') }}" method="post" novalidate>

            <div class="form-group  {{ vld_style('session_id') }}">
                <input class="form-group-item form-group-input" type="text" name="session_id" value="{{ ses.session_id }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'session_id'|trans }}</span></label>
            </div>
            {{ vld_feedback('session_id')|raw }}

            <div class="form-group  {{ vld_style('ip_address') }}">
                <input class="form-group-item form-group-input" type="text" name="ip_address" value="{{ ses.ip_address }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'ip_address'|trans }}</span></label>
            </div>
            {{ vld_feedback('ip_address')|raw }}

            <div class="form-group  {{ vld_style('user_agent') }}">
                <input class="form-group-item form-group-input" type="text" name="user_agent" value="{{ ses.user_agent }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'user_agent'|trans }}</span></label>
            </div>
            {{ vld_feedback('user_agent')|raw }}

            <div class="form-group  {{ vld_style('data') }}">
                <input class="form-group-item form-group-input" type="text" name="data" value="{{ ses.data }}" autocomplete="off" required/>
                <label for="name" class="form-group-item form-group-label"><span>{{ 'data'|trans }}</span></label>
            </div>
            {{ vld_feedback('data')|raw }}


             {{ vld_feedback('en')|raw }}

             {{ csrf()|raw }}

            <div class="form-buttons text-right">
                <a class="btn btn-secondary" href="{{ url_for('ses.show_all_paginated') }}" role="button">{{ 'Back'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'add_session'|trans }}</button>
            </div>

        </form>

    </div>

{% endblock %}