{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'show_all_paginated.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'session' %}

{% set flash_values = flash('value') %}
{% set pagination = session('pagination') %}

{% set local = session('local') %}

{% block content %}

    <div class="content-md">

        <h1>{{ flash_values.page_title|trans }}:</h1>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th class="text-left">n°</th>

                    <th class="text-center">{{ 'session_id'|trans }}</th>
                    <th class="text-center">{{ 'ip_address'|trans }}</th>
                    <th class="text-center">{{ 'user_agent'|trans }}</th>
                    <th class="text-center">{{ 'data'|trans }}</th>

                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for ses in sess %}
                    <tr>
                        <td class="text-left">{{ loop.index }}</td>

                        <td class="text-center">{{ ses.session_id }}</td>
                        <td class="text-center">{{ ses.ip_address }}</td>
                        <td class="text-center">{{ ses.user_agent }}</td>
                        <td class="text-center">{{ ses.data }}</td>

                        <td class="text-center"><a  class="td-link" href="{{ url_for('ses.edit', {'id': ses.id}) }}">{{ 'update'|trans }}</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ url_for('ses.remove', {'id': ses.id}) }}">{{ 'remove'|trans }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {{ set_links()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('cms.index') }}" role="button">{{ 'Back'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('ses.add') }}" role="button">{{ 'add_session'|trans }}</a>
        </div>

    </div>

{% endblock %}